<section class="main_page">
  <section class="nginx_welcome">
    <h1>Welcome to NGINX!</h1>
    <p>
      If you see this page, the nginx web server is successfully installed and working. Further configuration is required.
    </p>
    <p>
      For online documentation and support please refer to <a href="//nginx.com">nginx.com</a>.<br>
      Commercial support is available at <a href="//nginx.com">nginx.com.</a><br>
    </p>
  </section>

  <section class="content">
      <p>
        I'll add something later. Maybe.
      </p>
      <p>
        Oh, by the way, my name's <s>Julie</s> Vlad.
        <pre>
  # @todo: add content
  # @todo: stop watching <a href="//myanimelist.net/profile/NekoTech">anime</a></pre>
      <p>
    </section>

    <ul class="contacts">
      <li><a href="//t.me/techiedesu">Telegram</a></li>
      <li><a href="//github.com/techiedesu">Github</a></li>
      <li><a href="mailto:kawaii.nekotech@gmail.com">E-Mail</a></li>
      <li><a href="//keybase.io/techiedesu/pgp_keys.asc?fingerprint=b829720c2ec4d117bb4dde7fbb27f16a285f09f1">GPG</a></li>
      <li><a href="//keybase.io/techiedesu">Keybase</a></li>
    </ul>
</section>
